<!DOCTYPE html>
<html>
  <head>
    <title>Forecast</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield :head %>
  </head>

  <body>
  <main>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= render "layouts/global_nav" %>
    </nav>
  </main>
    <header class="py-3 mb-3 border-bottom">
      <%= yield %>
    </header>

  </body>
</html>
